/* font-family: "RobotoRegular"; */
@font-face {
    font-family: "Roboto";
    src: url("../fonts/RobotoRegular/RobotoRegular.eot");
    src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
    url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "RobotoBold"; */
@font-face {
    font-family: "RobotoBold";
    src: url("../fonts/RobotoBold/RobotoBold.eot");
    src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoBold/RobotoBold.woff") format("woff"),
    url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/

/* font-family: "AgoraSansProRegular"; */
@font-face {
    font-family: "Agora";
    src: url("../fonts/AgoraSansProRegular/pfagoraserifpro-regular-webfont.eot");
    src: url("../fonts/AgoraSansProRegular/pfagoraserifpro-regular-webfont.eot?#iefix")format("embedded-opentype"),
    url("../fonts/AgoraSansProRegular/pfagoraserifpro-regular-webfont.woff") format("woff"),
    url("../fonts/AgoraSansProRegular/pfagoraserifpro-regular-webfont.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "AgoraSansProBold"; */
@font-face {
    font-family: "AgoraBold";
    src: url("../fonts/AgoraSansProBold/pfagoraserifpro-bold-webfont.eot");
    src: url("../fonts/AgoraSansProBold/pfagoraserifpro-bold-webfont.eot?#iefix")format("embedded-opentype"),
    url("../fonts/AgoraSansProBold/pfagoraserifpro-bold-webfont.woff") format("woff"),
    url("../fonts/AgoraSansProBold/pfagoraserifpro-bold-webfont.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "AgoraSansProItalic"; */
@font-face {
    font-family: "AgoraItalic";
    src: url("../fonts/AgoraSansProItalic/pfagoraserifpro-italic-webfont.eot");
    src: url("../fonts/AgoraSansProItalic/pfagoraserifpro-italic-webfont.eot?#iefix")format("embedded-opentype"),
    url("../fonts/AgoraSansProItalic/pfagoraserifpro-italic-webfont.woff") format("woff"),
    url("../fonts/AgoraSansProItalic/pfagoraserifpro-italic-webfont.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/

/* Generated by Font Squirrel (https://www.fontsquirrel.com) on April 6, 2017 */

@font-face {
    font-family: "Linux";
    src: url("../fonts/Linux/linlibertine_r-webfont.eot");
    src: url("../fonts/Linux/linlibertine_r-webfont.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Linux/linlibertine_r-webfont.woff") format("woff"),
    url('../fonts/Linuxlinlibertine_r-webfont.svg#linux_libertineregular') format('svg'),
    url("../fonts/Linux/linlibertine_r-webfont.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}



/* font-family: "OpenSansRegular"; */
@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSansRegular/OpenSansRegular.eot");
    src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"),
    url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "OpenSansItalic"; */
@font-face {
    font-family: "OpenSansItalic";
    src: url("../fonts/OpenSansItalic/OpenSansItalic.eot");
    src: url("../fonts/OpenSansItalic/OpenSansItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansItalic/OpenSansItalic.woff") format("woff"),
    url("../fonts/OpenSansItalic/OpenSansItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansBold"; */
@font-face {
    font-family: "OpenSansBold";
    src: url("../fonts/OpenSansBold/OpenSansBold.eot");
    src: url("../fonts/OpenSansBold/OpenSansBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansBold/OpenSansBold.woff") format("woff"),
    url("../fonts/OpenSansBold/OpenSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}