@import "variables.less";
@import "scaffolding.less";
 
@import "blocks/btn.less";
@import "blocks/slider.less";
@import "blocks/input.less";
@import "blocks/breadcrumbs.less";
@import "blocks/effect.less";
@import "blocks/btn-up.less";



@import "blocks/page-header.less";
@import "blocks/page-footer.less";
@import "blocks/block-social.less";
@import "blocks/first-screen.less";
@import "blocks/main-nav.less";
@import "blocks/fixed-post.less";
@import "blocks/services.less";
@import "blocks/block-service.less";
@import "blocks/reviews.less";
@import "blocks/block-review.less";
@import "blocks/letters.less";
@import "blocks/main-logo.less";
@import "blocks/main-blog.less";
@import "blocks/block-article.less";
@import "blocks/main-form-kp.less";
@import "blocks/main-subs.less";
@import "blocks/main-steps.less";
@import "blocks/page-block.less";
@import "blocks/block-filter.less";
@import "blocks/toggle-view.less";
@import "blocks/article-item.less";
@import "blocks/turn-pages.less";

/*@import "blocks/breadcpamps.less";

@import "blocks/main-slider.less";

@import "blocks/main-form.less"; 
*/


.hidden {
	display: none;
}
 

.wrapper-x {
	overflow: hidden !important;
	min-height: 100%;
	box-sizing: border-box;
	position: relative;
}
.wrapper-y {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: 0 0 @height-footer 0;
	min-height: 100vh;
}

.clearfix() {
	&::after {
		content: "";
		display: table;
		clear: both;
	}
}



.container-fluid() {
	width: 100%;
	max-width: 1024px;
	padding: 0 30px;
	margin: 0 auto;

	@media @tablet-widths {
		width: 100%;
	}

	@media @mobil-widths {
		width: auto;
		text-align: center;
		min-width: 320px;
		padding: 0 20px 30px;
	}

}

@media @tablet-widths {
		
}

@media @mobil-widths {

}

.points(@height) {
	position: relative;
	z-index: 100;
	&:before {
			display: inline-block;
			text-align: right;			
			background-image: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 80%);
			position: absolute;
			z-index: 101;
			bottom: -1px;
			right: 0;
			content: "\00A0";
			font-size: inherit;
			line-height: @height;
			color: inherit;
			width: 100%;

			@media @mobil-widths {
				line-height: ~'calc(@height / 1.2)';
			}
		}
}

.text-regular(@size) {  
  font-family: 'pf_dintext_proregular', sans-serif;
  font-size: @size; 
  
}

.text-bold(@size) {  
  font-family: 'pf_dintext_probold', sans-serif;
  font-size: @size; 
  
}

.text-thin(@size) {  
 font-family: 'pf_dintext_prothin', sans-serif;
  font-size: @size; 
  
}



.sepia() { 
    filter: sepia(100%);
   }
.engrave() { 
    filter: grayscale(100%);
}

.shadow() {
	filter: drop-shadow(0px 0px 10px rgba(133, 37, 76, 0.25));
}

  