.btn {
	display: block;
	outline: none;
	width: auto;
	min-width: 280px;
	height: 40px;
	line-height: 40px;

	border: 1px solid rgb(255, 147, 0);
	border-radius: 3px;
	background-image: linear-gradient(to top, rgb(255,165,0) 0%, rgb(255,203,0) 100%);
  	box-shadow: 1px 3px 2px 0px rgba(0, 0, 0, 0.35);
}
