.main-logo {
	.container-fluid();
	padding-top: 50px;

	&__title {
		display: block;
		padding: 75px 0;
		width: 100%;
		background: url("../img/bg-logo-arrow.png") 170px center no-repeat;
		background-size: contain;

		.left {
			display: inline-block;
			vertical-align: middle;
			width: 400px;
			.text-bold(35px);
			text-transform: uppercase;
			span {
				.text-bold(58px);
			}
		}

		.right {
			display: inline-block;
			vertical-align: middle;
			width: ~'calc(100% - 410px)';
			.text-regular(30px);
			padding-left: 50px;
		}
	}

	&__table {
		display: block;
		width: 100%;
		padding: 50px 0 80px;

		table {
			width: 100%;

			tr {
				td {
					
					width: 33%;
					height: 150px;
					position: relative;
					vertical-align: middle;
					text-align: center;
					padding: 30px 30px;
					cursor: pointer;
					border-right: 1px solid @color-bg-light;
					border-bottom: 1px solid @color-bg-light;

					.logo-wr {
						width: 100%;
						height: 100%;
						background-repeat: no-repeat;
						background-size: contain;
						background-position: center;
					}


					img {
						max-width: 90%;
						max-height: 90%;
					}
				}

				td:last-child {
					border-right: none;
				}
			}

			tr:last-child td {
				border-bottom: none;
			}
		}
	}
}

@media @tablet-widths {
	.main-logo {
		&__title {
			padding: 45px 0;
			background-position: 100px center;

			.left {
				width: 250px;
				font-size: 28px;
				span {font-size: 45px;}
			}

			.right {
				font-size: 24px;
				width: ~'calc(100% - 280px)';
			}
		}

		&__table {			
			padding: 0 0 30px;

			table tr td {
				padding: 20px;
				height: 120px;

			}
		}
	}	
}

@media @mobil-widths {
	.main-logo {

		&__title {
			background-image: none;
			.left, .right {
				width: 100%;
				padding: 0;
			}
		}

		&__table {
			table tr td {
				padding-top: 5px;
				width: 100%;
				height: 80px;
				max-width: 200px;
				margin: 0 auto;
				display: block;
				border-right: none;
			}

			table tr:last-child td {
				border-bottom: 1px solid @color-bg-light;
			}

			
		}
	}
}