.reviews-bg {
	background: url("../img/bg-shadow.png") center bottom no-repeat,
				url("../img/bg-shadow.png") center 780px no-repeat,
				url("../img/bg-light.png") top center no-repeat @color-bg-green;
	padding-top: 100px;
	margin-top: -100px;
	

}

.reviews {
	.container-fluid();
	padding: 0;
	background: url("../img/bg-big-arrow-down.png") top center no-repeat;

	h2 {
		padding-left: 20px;
	}
	
}